<div class="wrapper wrapper__bg">
  <div class="container">
    <%= link_to 'スレッド一覧に戻る', boards_path %>
    <hr>
    <div class="board">
      <h1 class="board--name"><%= @board.title %></h1>
    </div>
    <%= link_to 'タイトルを編集する', edit_board_path(@board) %>
    <%= link_to '削除する', board_path(@board), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <hr>
    <div class="comments">
      <% @board.comments.each_with_index do |comment, index| %>
          <div class="comment">
            <div class="comment--heading">
              <%= index + 1 %>
              <%= comment.name %>
              <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S ') %>:
              <%= link_to '削除する', board_comment_path(@board, comment), method: :delete, data: { confirm: '本当に削除しますか？' } %> <br>
            </div>
            <div class="comment-body">
              <%= comment.content %>
            </div>
          </div>
      <% end %>
    </div>
    <hr>
    <%= form_for @comment, url: board_comments_path(@board, @comment) do |f| %>
        名前：<%= f.text_field :name %> <br>
        コメント：<%= f.text_field :content %> <br>
        <%= f.submit %>
    <% end %>
  </div>
</div>