<!DOCTYPE html>
<html>
  <head>
    <title>1ch(わんちゃんねる)</title>
    <%= csrf_meta_tags %>
    <%= display_meta_tags default_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
